.content {
    background-color: #17265088;
    padding: 20px;
    height: 600px;
}

.scanner-outer {
    background-image: url('../assets/scanner-outer.png');
    background-size: 1000px 550px;
    background-repeat: no-repeat;
    width: 1000px;
    height: 550px;

    .scanner-pic {
        position: absolute;
        transform: rotate(-5deg);
        outline: 2px solid #1890ffff;
    }

    .scanner-0 {
        background-image: url('../assets/s0.png');
        background-repeat: no-repeat;
        background-size: 130px 220px;
        width: 130px;
        height: 220px;
        top: 30px;
        left: 240px;

        &.active {
            outline: 2px solid red;
        }
    }

    .scanner-1 {
        background-image: url('../assets/s1.png');
        background-repeat: no-repeat;
        background-size: 350px 200px;
        width: 350px;
        height: 200px;
        top: 30px;
        left: 420px;

        &.active {
            outline: 2px solid red;
        }
    }

    .scanner-2 {
        background-image: url('../assets/s2.png');
        background-repeat: no-repeat;
        background-size: 500px 230px;
        width: 500px;
        height: 230px;
        top: 260px;
        left: 190px;

        &.active {
            outline: 2px solid red;
        }
    }

    .scanner-3 {
        background-image: url('../assets/s3.png');
        background-repeat: no-repeat;
        background-size: 110px 300px;
        width: 110px;
        height: 300px;
        top: 230px;
        left: 720px;

        &.active {
            outline: 2px solid red;
        }
    }
}

.scanner-outer.scanning::before {
    content: "";
    position: absolute;
    overflow: hidden;
    z-index: 10;
    width: 915px;
    height: 0px;
    margin: 45px;
    background: linear-gradient(to bottom, #1890ff00, #1890ff33);
    animation: move 3s ease infinite;
}

@keyframes move {
    0% {
        top: 0px;
        height: 0px;
    }
    50% {
        top: 130px;
        height: 350px;
    }
    100% {
        top: 500px;
        height: 0px;
    }
}

@keyframes show {
    0%{
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.8;
    }
    100%{
        opacity: 0;
    }
}

.detail-wrapper.show {
    animation: show 5s ease-in-out infinite;
}

.detail-wrapper {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    .fp-type {
        font-size: 28px;
        color: white;
    }

    .divider {
        height: 3px;
        width: 220px;
        background-color: #1890ff;
    }

    .detail-item {
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
    }
}